.app-container {
  display: flex;
  height: 100vh;
}

:root {
  --bg-gradient: linear-gradient(135deg, #f8b85f 0%, #FF8C5A 50%, #F66D14 100% );
  --primary-purple: #8b5cf6;
  --header-bg: #ffffff;
  --text-main: #1f2937;
  --shadow-light: 0 4px 12px rgba(0, 0, 0, 0.1);
}